In [3]:
import pandas as pd

In [1]:
df = pd.read_csv('/Users/datascience/Desktop/Cap/pivot.csv')

In [2]:
df

,location,food_sentiment,service_sentiment,atmosphere_sentiment,price_sentiment,alternative_diet_sentiment,locationCategory_sentiment
0,101 Deli,0.388964,0.126314,0.047654,0.139221,0.000000,0.013971
1,1114 Sports Bar & Games,0.292677,0.185226,0.220003,0.065612,0.010899,0.053947
2,212° Hotpot,0.215999,0.124466,0.186247,0.075331,0.009335,0.020612
3,4 Eggs & Pizza,0.368523,0.028793,0.137774,0.003134,0.019121,0.011843
4,6831 AA Hollister Ave,0.134724,0.043982,0.090606,-0.045112,0.000000,0.035594
...,...,...,...,...,...,...,...
1388,duo events,0.336792,0.227058,0.066983,0.000000,0.000000,0.000000
1389,goa taco,0.284901,0.068132,0.078556,0.056225,0.033227,0.016171
1390,iGrill Korean BBQ,0.193814,0.094343,0.100181,0.082688,0.006602,-0.005718
1391,il Fustino,0.145207,0.175782,0.196071,0.206607,0.014354,0.029200
1392,il fustino,0.139333,0.113467,0.171133,0.000000,0.000000,0.104150

In [4]:
# Define a function to normalize the columns of a dataframe to 0-1 range
def normalize_df(df):
    # Copy the original dataframe
    normalized_df = df.copy()
    
    # Iterate over the columns of the dataframe, except for the 'location' column
    for col in normalized_df.columns:
        if col != 'location':
            # Get the minimum and maximum values of the column
            col_min = normalized_df[col].min()
            col_max = normalized_df[col].max()
            
            # Replace 0 values with col_min to preserve them after normalization
            normalized_df[col] = normalized_df[col].replace(0, col_min)
            
            # Normalize the column using the formula
            normalized_df[col] = (normalized_df[col] - col_min) / (col_max - col_min)
    
    # Return the normalized dataframe
    return normalized_df

# Call the function to normalize the dataframe
normalized_df = normalize_df(df)

# Print the normalized dataframe
normalized_df

,location,food_sentiment,service_sentiment,atmosphere_sentiment,price_sentiment,alternative_diet_sentiment,locationCategory_sentiment
0,101 Deli,0.652907,0.572547,0.247849,0.493645,0.000000,0.225301
1,1114 Sports Bar & Games,0.513405,0.640518,0.485811,0.364584,0.156010,0.320759
2,212° Hotpot,0.402311,0.570414,0.439205,0.381626,0.152685,0.241158
3,4 Eggs & Pizza,0.623291,0.460028,0.372278,0.255042,0.173488,0.220217
4,6831 AA Hollister Ave,0.284558,0.477553,0.307153,0.170452,0.000000,0.276933
...,...,...,...,...,...,...,...
1388,duo events,0.577318,0.688784,0.274538,0.000000,0.000000,0.000000
1389,goa taco,0.502138,0.505416,0.290517,0.348127,0.203473,0.230552
1390,iGrill Korean BBQ,0.370170,0.535659,0.320374,0.394525,0.146874,0.178284
1391,il Fustino,0.299747,0.629622,0.452769,0.611794,0.163353,0.261665
1392,il fustino,0.291236,0.557723,0.418337,0.000000,0.000000,0.440637

In [5]:
# Define a function to normalize and scale the columns of a dataframe
def normalize_and_scale_df(df):
    # Copy the original dataframe
    normalized_df = df.copy()
    
    # Iterate over the columns of the dataframe, except for the 'location' column
    for col in normalized_df.columns:
        if col != 'location':
            # Get the minimum and maximum values of the column
            col_min = normalized_df[col].min()
            col_max = normalized_df[col].max()
            
            # Replace 0 values with col_min to preserve them after normalization
            normalized_df[col] = normalized_df[col].replace(0, col_min)
            
            # Normalize the column using the formula
            normalized_df[col] = (normalized_df[col] - col_min) / (col_max - col_min)
            
            # Scale the column by 100 and round to the nearest whole number
            normalized_df[col] = round(normalized_df[col] * 100)
    
    # Return the normalized and scaled dataframe
    return normalized_df

# Call the function to normalize and scale the dataframe
normalized_and_scaled_df = normalize_and_scale_df(df)

# Print the normalized and scaled dataframe
normalized_and_scaled_df

,location,food_sentiment,service_sentiment,atmosphere_sentiment,price_sentiment,alternative_diet_sentiment,locationCategory_sentiment
0,101 Deli,65.0,57.0,25.0,49.0,0.0,23.0
1,1114 Sports Bar & Games,51.0,64.0,49.0,36.0,16.0,32.0
2,212° Hotpot,40.0,57.0,44.0,38.0,15.0,24.0
3,4 Eggs & Pizza,62.0,46.0,37.0,26.0,17.0,22.0
4,6831 AA Hollister Ave,28.0,48.0,31.0,17.0,0.0,28.0
...,...,...,...,...,...,...,...
1388,duo events,58.0,69.0,27.0,0.0,0.0,0.0
1389,goa taco,50.0,51.0,29.0,35.0,20.0,23.0
1390,iGrill Korean BBQ,37.0,54.0,32.0,39.0,15.0,18.0
1391,il Fustino,30.0,63.0,45.0,61.0,16.0,26.0
1392,il fustino,29.0,56.0,42.0,0.0,0.0,44.0

In [6]:
# output DF to a csv
# assume `df` is the pandas dataframe you want to output
file_path = "/Users/datascience/Desktop/Cap/normal_pivot.csv"
normalized_and_scaled_df.to_csv(file_path, index=False)

In [1]:
import pandas as pd
df = pd.read_csv('normal_pivot.csv')

In [2]:
# Convert the CSV file to an Excel file
df.to_excel('normal_pivot.xlsx', index=False)

<ipython-input-2-accc4c970af3>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df.to_excel('normal_pivot.xlsx', index=False)